/* Cores base */
body {
  background-color: #0c0c0c;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background-color: #0c0c0c;
  border-bottom: 4px solid #ffd449;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

}

/* ÍCONE */
.logo-area {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#kiteIcon {
  width: clamp(350px, 32vw, 200px);
  border-radius: 50%;
  border: 3px solid #ffd449;
  background-image: linear-gradient(to bottom right, #0c0c0c, #ffd449);
  object-fit: cover;
  margin-top: 290px;
}

/* LINKS */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  margin: 0;
  padding: 0;
  transition: 0.3s ease;
  padding: 10px 30px 10px 10px;
}

.nav-links li a {
  color: #ffd449;
  font-size: clamp(16px, 2.2vw, 28px);
  text-decoration: none;
  font-weight: 600;
}

#pfp {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid #ffd449;
  padding: 3px;
  object-fit: cover;
}

/* HAMBURGUER */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  gap: 6px;
  width: 35px;
  height: 30px;
}

.hamburger span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #ffd449;
  border-radius: 5px;
  transition: 0.3s;
}

#menu-toggle {
  display: none;
}

/* 🔸 MOBILE FIXO */
@media (max-width: 768px) {
  .logo-area {
    display: none; /* esconde o ícone grande no celular */
  }

  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 90px;
    right: 0;
    background-color: #0c0c0c;
    width: 100%;
    justify-content: center;
    border-top: 3px solid #ffd449;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
  }

  #menu-toggle:checked ~ .nav-links {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }

  #menu-toggle:checked + .hamburger span:nth-child(1) {
    transform: rotate(45deg) translateY(9px);
  }
  #menu-toggle:checked + .hamburger span:nth-child(2) {
    opacity: 0;
  }
  #menu-toggle:checked + .hamburger span:nth-child(3) {
    transform: rotate(-45deg) translateY(-9px);
  }
}
